/* Personalizações de estilo CSS */
body {
    background-color: #f8f9fa; /* Cor de fundo */
}

.container {
    background-color: #fff; /* Cor de fundo do conteúdo */
    padding: 20px; /* Espaçamento interno do conteúdo */
    border-radius: 5px; /* Cantos arredondados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-top: 20px; /* Espaçamento superior */
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.table-responsive {
    margin-bottom: 20px;
}

.mb-3 {
    text-align: center;
}
