<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <script defer src="{{ url_for('static', filename='js/closejs.js') }}"></script>
    <!-- Adicione as bibliotecas DataTables -->
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Lista de Livros</h2>
            </div>
            <div class="col-md-6 text-md-right mb-2">
                <a href="{{ url_for('cadastrar') }}" class="btn btn-primary btn-sm mb-2">
                    <i class="bi bi-plus-circle"></i> Adicionar
                </a>
                <div id="searchContainer">
                    <datalist id="booksList">
                        {% for book in books %}
                        <option value="{{ book[1] }}"> <!-- assumindo que book[0] é o título do livro -->
                            {% endfor %}
                    </datalist>
                </div>
            </div>

        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} mt-3 alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- Adicione a classe "dataTable" à tabela para inicializar a DataTable -->
        <div class="table-responsive">
            <table class="table table-bordered dataTable table table-striped">
                <thead>
                    <tr>
                        <!-- Adicione a classe "orderable" aos cabeçalhos que podem ser ordenados -->
                        <th class="orderable">Título</th>
                        <th class="orderable">Autor</th>
                        <th class="orderable">Ano</th>
                        <th class="orderable">ID</th>
                        <th class="orderable">Ações</th> <!-- Agora todas as colunas são ordenáveis -->
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <form action="{{ url_for('editar') }}" method="POST">
                            <input type="hidden" name="id" value="{{ book[0] }}">

                            <td>
                                {% if session['editing_id'] == book[0]|string %}
                                <input type="text" name="titulo" value="{{ book[1] }}" class="form-control">
                                {% else %}
                                {{ book[1] }}
                                {% endif %}
                            </td>
                            <td>
                                {% if session['editing_id'] == book[0]|string %}
                                <input type="text" name="autor" value="{{ book[3] }}" class="form-control">
                                {% else %}
                                {{ book[3] }}
                                {% endif %}
                            </td>
                            <td>
                                {% if session['editing_id'] == book[0]|string %}
                                <input type="text" name="ano" value="{{ book[2] }}" class="form-control">
                                {% else %}
                                {{ book[2] }}
                                {% endif %}
                            </td>
                            <td>
                                {{ book[0] }}
                            </td>
                            <td class="text-center">
                                {% if session['editing_id'] == book[0]|string %}
                                <button type="submit" class="btn btn-success btn-sm mobile-optimized-btn"
                                    name="action_type" value="save">
                                    <i class="bi bi-check mobile-optimized-icon"></i>
                                </button>
                                {% else %}
                                <button type="submit" class="btn btn-warning btn-sm mobile-optimized-btn"
                                    name="action_type" value="edit">
                                    <i class="bi bi-pencil-square mobile-optimized-icon"></i>
                                </button>
                        </form>
                        <!-- Fechando o formulário de edição aqui -->
                        <!-- Agora, começando um novo formulário para a ação de exclusão -->
                        <form action="{{ url_for('excluir') }}" method="POST" class="d-inline">
                            <input type="hidden" name="id" value="{{ book[0] }}">
                            <button type="submit" class="btn btn-danger btn-sm mobile-optimized-btn" name="action_type"
                                value="delete" onclick="return confirm('Tem certeza que deseja excluir este livro?')">
                                <i class="bi bi-trash mobile-optimized-icon"></i>
                            </button>
                        </form>
                        {% endif %}
                        </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <!-- Inclua os scripts necessários do jQuery e DataTables aqui -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script>
        // Inicialize a DataTable com as opções desejadas
        $(document).ready(function () {
            $('.dataTable').DataTable({
                "ordering": true,  // Ativar ordenação nas colunas
                "lengthChange": false,  // Desativar opção de alterar o número de registros por página
                "pageLength": 6,  // Definir o número de registros por página
                "info": false,  // Ocultar informações de registros
                "language": {
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Próximo"
                    },
                    "search": "Buscar:",
                    "zeroRecords": "Nenhum registro encontrado",
                    "search": "_INPUT_",
                    "searchPlaceholder": "Buscar:"

                }
            });
            $(".dataTables_filter").detach().appendTo('#searchContainer');
            $(".dataTables_filter input").attr("list", "booksList");

        });
        document.addEventListener("DOMContentLoaded", function () {
            const chatbotIcon = document.getElementById("chatbot-icon");
            const chatbotWindow = document.getElementById("chatbot-window");
            const closeButton = document.getElementById("close-button");

            chatbotIcon.addEventListener("click", function () {
                chatbotWindow.style.display = "block";
            });

            closeButton.addEventListener("click", function () {
                chatbotWindow.style.display = "none";
            });
        });


    </script>
    <!-- Ícone do chatbot (oculto) -->
    <div class="chatbot-icon chatbot-bottom-left" id="chatbot-icon">
        <i class="bi bi-chat-dots-fill"></i>
    </div>

    <!-- Janela de chatbot (aberta) -->
    <div class="chatbot-window" id="chatbot-window">
        <div class="chatbot-header">
            <img src="https://avatars.githubusercontent.com/u/117370378?v=4" alt="Foto do Operador"
                class="profile-image">
            <span class="profile-info">
                <div class="profile-details">
                    <span class="profile-name">Valtemir - Operador master</span><br>
                    <span class="profile-status">Online</span>
                </div>
            </span>
            <button class="close-button" id="close-button">×</button>
        </div>
        <div class="chatbot-content">
            <p>Digite seu nome para começar:</p>
            <div class="input-group mb-3">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Endereço de email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Seu email">
                        <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com
                            ninguém.</small>
                    </div>
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Clique em mim</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    </div>

</body>

</html>